button {
    background-color: #0c80f3;
    border: 6px solid #0ff1662c;
    border-radius: 10px;
  }
  
  .game-board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background: rgba( 74, 144, 226, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  
  .grid-row {
    border: 6px solid #739dc7;
    border-radius: 6px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 8em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(175, 70, 70);
  }
  
  .block {
    background-color: rgb(219, 28, 28);
    border: 6px solid green;
    border-radius: 6px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 29em;
  }
  
  .red {
    color: red;
  }
  
  .white {
    color: white;
  }